---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - env.lissto.dev
  resources:
  - blueprints
  - envs
  - stacklifecycles
  - stacks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - env.lissto.dev
  resources:
  - blueprints/finalizers
  - stacklifecycles/finalizers
  - stacks/finalizers
  verbs:
  - update
- apiGroups:
  - env.lissto.dev
  resources:
  - blueprints/status
  - envs/status
  - stacklifecycles/status
  - stacks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - env.lissto.dev
  resources:
  - lisstosecrets
  - lisstovariables
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
