apiVersion: env.lissto.dev/v1
kind: Stack
metadata:
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/managed-by: kustomize
  name: stack-sample
spec:
  # TODO(user): Add fields here
